[gpg]
	format = ssh
[user]
	name = James Cook
	email = james@jaminit.co.uk
[push]
	autoSetupRemote = true

[init]
	defaultBranch = main
	
[user]
  signingkey = "{{onepasswordRead "op://Personal/Main Key/public key"}}"

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
  gpgsign = true
