fish_add_path /opt/homebrew/bin
fish_add_path /opt/homebrew/opt/node@22/bin
fish_add_path /opt/homebrew/opt/rustup/bin
fish_add_path ~/.cargo/bin/
fish_add_path ~/Library/Android/sdk/platform-tools
fish_add_path ~/.local/bin # My own scripts

function fish_greeting
    asciianimal
end

if status is-interactive
   alias cat 'bat'
   alias dig 'doggo'
   alias ls 'lsd'
   alias rdap 'rdap -O gtld-whois'
   alias whois 'rdap'
   alias sync-brew 'brew bundle --global --cleanup -v'
   set -x HOMEBREW_NO_ENV_HINTS true
   set -x EDITOR 'nano'
   set -x VISUAL 'code'
end

