fish_add_path /opt/homebrew/bin
fish_add_path /opt/homebrew/opt/node@20/bin
fish_add_path /opt/homebrew/opt/rustup/bin
fish_add_path ~/.cargo/bin/
fish_add_path ~/.local/bin # My own scripts

function fish_greeting
    asciianimal
end

if status is-interactive
   alias cat 'bat'
   alias dig 'doggo'
   alias ls 'lsd'
   alias sync-brew 'brew bundle --global --cleanup -v'
   set -x HOMEBREW_NO_ENV_HINTS true
   set -x EDITOR 'nano'
   set -x VISUAL 'code'
   echo -e "\nsource "(brew --prefix asdf)"/libexec/asdf.fish" >> ~/.config/fish/config.fish
end

