{
	"preset": "{{lower (onepasswordRead "op://Personal/umcsgwqewpm6er24ch4cc4xwh4/Identification/sexuality")}}",
	"mode": "rgb",
	"light_dark": "dark",
	"lightness": 0.65,
	"color_align": {
		"mode": "horizontal",
		"custom_colors": [],
		"fore_back": null
	},
	"backend": "fastfetch",
	"distro": null,
	"pride_month_shown": []
}